@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap');
/* General styles */

/* Fonts */

/* Background */
body {
    background: linear-gradient(to right, #3c92a7, #08383b );
  }
  
body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  
  /* header {
	color: #fff;

  } */
  
  h1.about-us {
	margin-top: 10px;
	font-size: 40px;
	margin-bottom: 10px;
  }
  
  main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
  }
  
  .team-member {
	background-color: #b9dfe4;
	border: 5px solid #021418;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	margin: 10px;
	padding: 20px;
	text-align: center;
	width: 400px;
  }
  
  .team-member img {
	border-radius: 50%;
	border: 5px solid #021418;
	height: 250px;
	margin-bottom: 10px;
	width: 250px;
  }
  
  .team-member h2 {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .team-member p {
	font-size: 18px;
	margin-bottom: 10px;
  }
  
  .team-member ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  .team-member .name {
	font-size: 24px;
	margin-bottom: 5px;
  }
  
  .team-member .roll-no {
	font-size: 16px;
	margin-bottom: 15px;
  }
  
  .team-member .social-links {
    display: flex;
    justify-content: center;
}

.team-member .social-links li {
    display: inline-block;
    margin: 0 10px;
}

  .team-member a {
	color: #333;
	text-decoration: none;
  }
  
  .team-member a:hover {
	color: #007bff;
  }
  
  .team-member i {
	font-size: 24px;
	margin: 0 5px;
  }
  
  @media screen and (max-width: 768px) {
	.team-member {
	  width: 100%;
	}
  }
  
  /* Header styles */
  
  header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	
	font-family: 'Alkatra', cursive;
	color: #0e3637;
	
  }
  
  .logo {
	font-size: 30px;
	font-weight:bolder;
	border-bottom: solid #0e3637;
	padding-bottom: 8px;
  }
  
.nav-links {
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	display:flex;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .nav-links li {
	
	margin-right: 20px;
	
  }
  
  .nav-links li:last-child {
	margin-right: 10;
	
  }
  
  .nav-links a {
	display:inline-flex;
	padding: 1rem;
	color: #bfc9cc;
	text-decoration: none;
	transition: all 0.5s ease;
  }
  
  .nav-links a:hover {
	background-color: #ffffff;
	color: rgb(19, 31, 45);
  }

   /* Style the dropdown button */
.dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: none;
  }
  
  /* Style the dropdown content */
  .dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
  }
  
  .dropdown-content a {
	color: rgb(231, 242, 244);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  /* Change the background color of the dropdown menu links on hover */
  .dropdown-content a:hover {
	background-color: #b1dee9;
  }