@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap');
/* General styles */

/* Fonts */
body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

/* Background */
body {background: linear-gradient(to right, #3c92a7, #a1dde2 , #3c92a7);background: linear-gradient(to right, #3c92a780, #0b44489c);
}

/* Center content */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Inputs */
input[type=number] {
  width: 4em;
  border-radius: 0.5em;
  padding: 0.5em;
  border: none;
  background-color: #f2f2f2;
  margin-bottom: 1em;
}

/* Buttons */
button {
  padding: 0.5em 1em;
  font-size: 1em;
  border: none;
  border-radius: 0.5em;
  margin: 1em;
  cursor: pointer;
  color: #fff;
  background-color: #0f4556;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

button:hover {
  background-color: #146078;
  
}


/* Result Table */
table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #0f4556;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

th, td {
  padding: 0.8em;
  border: 1px solid black;
}

th {
  background-color: #0f4556;
  
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #e0e0e0;
}


/* Gantt Chart */
#gantt-container {
  width: 80%;
  margin: 0 auto;
  height: 50px;
  border: 1px solid black;
  display: flex;
}

.gantt-bar {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.gantt-bar div {
  flex: 1;
  height: 100%;
}

.gantt-bar div:first-child {
  border-left: 1px solid black;
}

.gantt-bar div:last-child {
  border-right: 1px solid black;
}

/* Colors for Gantt Chart */
.gantt-bar div.color1 {
  background-color: #f44336;
}

.gantt-bar div.color2 {
  background-color: #9c27b0;
}

.gantt-bar div.color3 {
  background-color: #3f51b5;
}

.gantt-bar div.color4 {
  background-color: #4caf50;
}

.gantt-bar div.color5 {
  background-color: #ffeb3b;
}


/* Header styles */
  
header {
  border-radius: 10px;
  background: linear-gradient(to bottom, #072b34, #0a484d, #072b34 );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  border-bottom: 2px solid #ccc;
  font-family: 'Alkatra', cursive;
  color: #ffffff;
}
  
  .logo {
	font-size: 30px;
	font-weight:bolder;
	border-bottom:  solid #ffffff;
	padding-bottom: 3px;
  }
  
.nav-links {
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	display:flex;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .nav-links li {
	
	margin-right: 20px;
	
  }
  
  .nav-links li:last-child {
	margin-right: 10;
	
  }
  
  .nav-links a {
	display:inline-flex;
	padding: 1rem;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.5s ease;
  }
  
  .nav-links a:hover {
	background-color: #ffffff;
	color: rgb(19, 31, 45);
  }

   /* Style the dropdown button */
.dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: none;
  }
  
  /* Style the dropdown content */
  .dropdown-content {
	text-align: center;
	display: none;
	position: absolute;
	z-index: 1;
	background: linear-gradient(to top, #3c92a7e6, #08383be3 ); /* Change the background color of the menu to a gradient */

	transition: all 0.3s ease-in-out; /* Add a transition effect to the menu */
  }
  
  .dropdown-content a {
	color: rgb(231, 242, 244);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 16px; /* Change the font size of the menu items */
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  /* Change the background color of the dropdown menu links on hover */
  .dropdown-content a:hover {
	background-color: #b1dee9;
  }
  
  /* Add a hover effect to the dropdown button */
  .dropbtn:hover {
	background-color: #1abc9c;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
	.dropdown-content {
	  position: relative;
	  background: #f9f9f9;
	  box-shadow: none;
	}
	
	.dropdown-content a {
	  color: #000;
	  font-size: 14px;
	}
	
	.dropdown:hover .dropdown-content {
	  display: block;
	}
  }
  
  .nav-links li:not(:last-child) {
    border-right: 2px solid rgb(225, 239, 243);
    padding-right: 10px;
  }

  .prompt {
    position: fixed;
    bottom: 20px;
    right: 20px;
    }
    
    #prompt-button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.2s ease-in-out; /* Added property */
    }
    
    #prompt-button img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    }
  
    #prompt-button:hover {
    transform: scale(1.2); /* Added selector */
    }
    