/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap');

  
body {
	margin: 0;
	font-family: Georgia (serif);
	background: linear-gradient(to right, #3c92a7, #08383b );
	;
	color: #ccc;
  }
  
  .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
  }
  
  /* Header styles */
  
  header {
	/* border-radius: 10px; */
	background: linear-gradient(to bottom, #072b34, #0a484d, #072b34 );
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	border-bottom: 2px solid #ccc;
	font-family: 'Alkatra', cursive;
	color: #ffffff;
  }
  
  .logo {
	font-size: 30px;
	font-weight:bolder;
	border-bottom:  solid #ffffff;
	padding-bottom: 3px;
  }
  
.nav-links {
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	display:flex;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .nav-links li {
	
	margin-right: 20px;
	
  }
  
  .nav-links li:not(:last-child) {
	border-right: 2px solid rgb(225, 239, 243);
	padding-right: 10px;
}

  .nav-links li:last-child {
	margin-right: 10;
	
  }
  
  .nav-links a {
	display:inline-flex;
	padding: 1rem;
	color: #bfc9cc;
	text-decoration: none;
	transition: all 0.5s ease;
  }
  
  .nav-links a:hover {
	background-color: #ffffff;
	color: rgb(19, 31, 45);
  }

   

  /* Image overlay styles */
  
  .image-overlay {
	display: flex;
	position: relative;
	height: 650px;
	background-image: url('placeholder.jpg');
	background-size:cover;
	background-position: center;
  }
  
  .image-overlay::before {
	content: "";
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.704);

  }
  
  .image-overlay p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	
  }

	.text-box {
		width: 90%;
		/* display: flex;
		flex-direction: column; */
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		font-family: 'Poppins', sans-serif;
  }
  
  .text-box h1 {
	font-size: 4rem;
	font-weight: bolder;
	margin-top: 2.5rem;
	transform: translateY(-50%);
    animation: slideDown 1.2s ease infinite;
  }
  
  .text-box p {
	font-size: 1.5rem;
	font-weight: lighter;
	width: 70%;
	display: block;
	margin-bottom: 1rem;
	margin-top: 2.5rem;
  }

  .text-box a{
	margin-top: 6rem;
  }
  .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 20px;
	font-weight: bolder;
    position: relative;
    padding: 12px 34px;
    cursor: pointer;
    background: transparent;
    border-radius: 12px;
}
  
  .hero-btn:hover {
	background: linear-gradient(to right, #4d9ebb, #a4deec );
	color: #08383b;
	font-weight: bolder;
  }
  
/* Style the dropdown button */
.dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: none;
  }
  
  /* Style the dropdown content */
  .dropdown-content {
	text-align: center;
	display: none;
	position: absolute;
	z-index: 1;
	background: linear-gradient(to top, #3c92a7e6, #08383be3 ); /* Change the background color of the menu to a gradient */

	transition: all 0.3s ease-in-out; /* Add a transition effect to the menu */
  }
  
  .dropdown-content a {
	color: rgb(231, 242, 244);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 16px; /* Change the font size of the menu items */
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  /* Change the background color of the dropdown menu links on hover */
  .dropdown-content a:hover {
	background-color: #b1dee9;
  }
  
  /* Add a hover effect to the dropdown button */
  .dropbtn:hover {
	background-color: #1abc9c;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
	.dropdown-content {
	  position: relative;
	  background: #f9f9f9;
	  box-shadow: none;
	}
	
	.dropdown-content a {
	  color: #000;
	  font-size: 14px;
	}
	
	.dropdown:hover .dropdown-content {
	  display: block;
	}
  }
  
  .nav-links li:not(:last-child) {
	border-right: 2px solid rgb(225, 239, 243);
	padding-right: 10px;
}

@keyframes slideDown {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(-45%);
    }
    100% {
        transform: translateY(-50%);
    }
}