@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap');
/* General styles */


body {
    font-family:  'Raleway', sans-serif;
    background: linear-gradient(to right, #3c92a7b0, #0b44489c );
    text-align: center;
  }
  
  /* h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #333;
    font-weight: bolder;
    font-size: 40px;
  } */
  
  /* CSS for the process sections */
  
  .process {
    background-color: #097a7a;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 5px 10px  #1f26268e;
    border-radius: 5px;
    text-align: center;
    
  }
  
  .process h2 {
    margin-top: 0;
    font-size: 24px;
    color: #d9ecec;
  }
  
  .button {
    padding: 10px;
    border: none;
    background-color:#9de4e4;
    color: #23282b;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: #50b37e;
    color: #1a1f1f;
  }
  
  /* CSS for the log messages */
  
  #log {
    background-color: #b5e9e9;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 200px;
    overflow-y: scroll;
  }
  
  .log-message {
    border-radius: 5px;
    font-weight: 1000;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    color:  #222c2c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    animation: log-message 1s;
  }
  
  .log-message:before {
    content: '';
    position: absolute;
    left: -10px;
    top: 10px;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
  }
  
  @keyframes log-message {
    0% {
    /* The message is hidden /
opacity: 0;
transform: translateY(20px);
}
100% {
/ The message is visible */
opacity: 1;
transform: translateY(0);
}
}
  
  /* Header styles */
  
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	border-bottom: 2px solid #0f5667;
	font-family: 'Alkatra', cursive;
	color: #0e3637;
  }
  
  .logo {
	font-size: 30px;
	font-weight:bolder;
	border-bottom:  solid #0e3637;
	padding-bottom: 3px;
  }
  
.nav-links {
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	display:flex;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .nav-links li {
	
	margin-right: 20px;
	
  }
  
  .nav-links li:last-child {
	margin-right: 10;
	
  }
  
  .nav-links a {
	display:inline-flex;
	padding: 1rem;
	color: #031e26;
	text-decoration: none;
	transition: all 0.5s ease;
  }
  
  .nav-links a:hover {
	background-color: #ffffff;
	color: rgb(19, 31, 45);
  }

   /* Style the dropdown button */
.dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: none;
  }
  
  /* Style the dropdown content */
  .dropdown-content {
	text-align: center;
	display: none;
	position: absolute;
	z-index: 1;
	background: linear-gradient(to top, #3c92a7e6, #08383be3 ); /* Change the background color of the menu to a gradient */

	transition: all 0.3s ease-in-out; /* Add a transition effect to the menu */
  }
  
  .dropdown-content a {
	color: rgb(231, 242, 244);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 16px; /* Change the font size of the menu items */
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  /* Change the background color of the dropdown menu links on hover */
  .dropdown-content a:hover {
	background-color: #b1dee9;
  }
  
  /* Add a hover effect to the dropdown button */
  .dropbtn:hover {
	background-color: #1abc9c;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
	.dropdown-content {
	  position: relative;
	  background: #f9f9f9;
	  box-shadow: none;
	}
	
	.dropdown-content a {
	  color: #000;
	  font-size: 14px;
	}
	
	.dropdown:hover .dropdown-content {
	  display: block;
	}
  }
  
  .nav-links li:not(:last-child) {
    border-right: 2px solid rgb(225, 239, 243);
    padding-right: 10px;
  }