@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap');
/* General styles */

/* Fonts */

body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(to right, #3c92a7, #a1dde2 , #3c92a7);
  text-align: center;
}

/* Style the page title */
h1 {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

/* Style the input prompt */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Style the input field */
input[type="text"] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 80%;
}

/* Style the button */
button {
  padding: 10px 10px;
  font-size: 15px;
  background-color: #16454b;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

/* Style the output table */
table {
  margin: auto;
  border-collapse: collapse;
  margin-top: 20px;
  width: 80%;
}

th,
td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Style the disk head movement chart */
#chart-container {
  margin-top: 20px;
  height: 400px;
}

.ct-label {
  font-size: 12px;
}

.ct-point {
  stroke-width: 8px;
}

.ct-line {
  stroke-width: 3px;
  stroke-linecap: round;
}



/* Header styles */
  
header {
  border-radius: 10px;
  background: linear-gradient(to bottom, #072b34, #0a484d, #072b34 );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  border-bottom: 2px solid #ccc;
  font-family: 'Alkatra', cursive;
  color: #ffffff;
}

  .logo {
	font-size: 30px;
	font-weight:bolder;
	border-bottom:  solid #ffffff;
	padding-bottom: 3px;
  }
  
.nav-links {
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	display:flex;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .nav-links li {
	
	margin-right: 20px;
	
  }
  
  .nav-links li:last-child {
	margin-right: 10;
	
  }
  
  .nav-links a {
	display:inline-flex;
	padding: 1rem;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.5s ease;
  }
  
  .nav-links a:hover {
	background-color: #ffffff;
	color: rgb(19, 31, 45);
  }

   /* Style the dropdown button */
.dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: none;
  }
  
  /* Style the dropdown content */
  .dropdown-content {
	text-align: center;
	display: none;
	position: absolute;
	z-index: 1;
	background: linear-gradient(to top, #3c92a7e6, #08383be3 ); /* Change the background color of the menu to a gradient */

	transition: all 0.3s ease-in-out; /* Add a transition effect to the menu */
  }
  
  .dropdown-content a {
	color: rgb(231, 242, 244);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 16px; /* Change the font size of the menu items */
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  /* Change the background color of the dropdown menu links on hover */
  .dropdown-content a:hover {
	background-color: #b1dee9;
  }
  
  /* Add a hover effect to the dropdown button */
  .dropbtn:hover {
	background-color: #1abc9c;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
	.dropdown-content {
	  position: relative;
	  background: #f9f9f9;
	  box-shadow: none;
	}
	
	.dropdown-content a {
	  color: #000;
	  font-size: 14px;
	}
	
	.dropdown:hover .dropdown-content {
	  display: block;
	}
  }
  .nav-links li:not(:last-child) {
    border-right: 2px solid rgb(225, 239, 243);
    padding-right: 10px;
  }
